---

name: CI

'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        go:
          - 1.13.x  # ubuntu focal
          - 1.15.x  # debian bullseye
          - 1.18.x  # ubuntu jammy
          - 1.19.x  # debian bookworm
          - 1.x     # latest
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    name: Go ${{ matrix.go }} on ${{ matrix.runs-on }}

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true

      - run: go build -v github.com/rkoesters/xkcd/...
      - run: go test -v -cover github.com/rkoesters/xkcd/...
      - run: go vet -v github.com/rkoesters/xkcd/...
